@import url("https://fonts.googleapis.com/css?family=B612|B612+Mono&display=swap");

html {
    font-family: "B612", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 1em;
    text-align: center;
}

#stats-container {
    margin-top: 0.5em;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#dat-container {
    margin-top: 0.5em;
}

.dg * {
    font-family: "B612" !important;
}

.info-icon {
    display: inline-block;
    position: absolute;
    right: 0.5em;
    top: 0.2em;
    font-size: 1.25em;
}

.info-icon > a {
    text-decoration: none;
    color: white;
}

.status {
    display: inline-block;
    padding: 0 1em;
    margin-bottom: 0.5em;
    text-align: center;
    border: 1px solid;
    border-radius: 1em;
    line-height: 1.5em;
}

.status--green {
    color: #98CA99;
    border-color: #98CA99;
}

.status--red {
    color: #F5536C;
    border-color: #F5536C;
}

.text-widget {
    color: hsl(121, 0%, 69%);
    display: block;
    font-family: "B612 Mono", monospace;
    font-size: 0.8em;
    white-space: pre;
}

.overlay {
    position: absolute;
    max-width: 245px;
    margin: 1em;
    color: white;
    background: #303030;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.7);
    z-index: 1;
    user-select: none;
}

.overlay-content {
    padding: 0.5em;
}